body {
    font-family: "Helvetica",serif;
    font-size: 14px;
    cursor: default;
}

*[contentEditable="true"] {
    cursor: text;
}

#sidePanel {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 290px;
    background: #d4dde6;
    border-right: 1px solid #a5a5a5;
}

#addCalendarType {
    margin-left: 55px;
}

#addCalendarType input.addButton, input.query{
    margin-left: 60px;
}

#colorBox {
    background: #F3F3F3;
    border: 1px solid #CCC;
    margin: 5px auto 0px;
    overflow: hidden;
    width: 110px;
}

#colorBox div.colorBlock {
    border: 1px solid #F3F3F3;
    float: left;
    height: 16px;
    padding: 2px;
    width: 16px;
}

#colorBox div.colorBlock a {
    border: 1px solid #BBB;
    display: block;
    height: 14px;
    overflow: hidden;
    width: 14px;
}

#rightPanel {
    position: relative;
    left: 0;
    top: -10px;
    bottom: 0;
    width: 285px;
    height: 100%;
    background: #d4dde6;
    border-left: 1px solid #a5a5a5;
    float: right;
}

#searchArea {
    top: 10px;
    margin-left: 52px;
}

input[type="search"] {
    -webkit-appearance: searchfield;
}

#searchResults {
    position: relative;
    list-style-position: inside;
    font-size: 16px;
}

.colorIndicator {
    display: inline-block;
    width: 20px;
    height: 1em;
    vertical-align: -2px;
    border: 1px black solid;
    margin-right: 5px;
}

#gridView {
    position: absolute;
    left: 291px;
    right: 291px;
    top: 0;
    bottom: 0;
    background: #ffffff;
}

#gridView.inactive {
    opacity: 0.5;
}

#eventOverlay {
    position: absolute;
    left: 291px;
    right: 291px;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
}

#eventOverlay.show {
    opacity: 1;
    z-index: 1000;
}

#details {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 10%;
    bottom: 15%;
    overflow: hidden;
    padding: 30px;
    font-size: 14px;
    background: #a3cad2;
}

#eventTitle {
    font-size: 20px;
    border:white dashed thin;
    height:22px;
}

#eventLocation, #eventToHours, #eventToMinutes, #eventFromHours, #eventFromMinutes{
    border:white dotted thin;
    height:14px;
}

#eventDetails{
    border:white dotted thin;
    height:126px;
}

#details dt {
    width: 20%;
    float: left;
    clear: both;
    text-align: right;
    margin-top: 10px;
}

#details dd {
    display: inline-block;
    width: 70%;
    float: left;
    margin-left: 5%;
    margin-top: 10px;
    text-align: left;
}

#details input {
    position: absolute;
    bottom: 15px;
}

#details input.doneInput {
    right: 15px;
}

#details input.cancelInput {
    right: 70px;
}
#detailEvent{
    font-size:22px;
    margin:0 0 8px 0;
    text-align: center;
    font-weight:normal;
}

#eventDisclosureArrow {
    display: none;
    float: left;
    width: 12px;
    height: 12px;
}

#eventDisclosureArrow.show {
    display: inline-block;
}

#eventFrom .time, #eventTo .time {
    display: inline-block;
    min-width: 5px;
    max-width: 20px;
}

h3 {
    color: #006699;
    font-size: 15px;
    text-shadow: 0.1em 0.1em #e5ebee;
    margin-left: 7px;
    margin-bottom: 4px;
}

#calendarList li {
    list-style: none;
    padding-left: 15px;
}

#calendarList input {
    margin-right: 5px;
}

#gridView h2 {
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: center;
    color: #3f3f3f;
    font-size: 19px;
    font-weight: bolder;
}

#gridView .navButtonGroup {
    text-align: center;
    margin-bottom: 10px;
}

#gridView .navButtonGroup h2 {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}

.navButton {
    font-size: 14px;
    font-weight: bold;
    vertical-align: top;
}

#daysHeader {
    margin-top: 30px;
}

.columnTitle {
    display: inline-block;
    width: 14%;
    float: left;
    -webkit-box-sizing: border-box;
}

.columnTitle:nth-child(7n+1), .columnTitle:nth-child(7n+7) {
    width: 15%;
}

span.columnTitle {
    color: #626262;
    text-align: center;
    font-weight: bold;
}

#daysGrid {
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
}

.columnTitle.box {
    height: 20%;
    border: 1px #ccc;
    border-top-style: solid;
    border-right-style: solid;
    position: relative;
}

.columnTitle.box.today {
    background: url(../images/blow.jpg) no-repeat center;
}

.columnTitle.box:nth-child(7n+7) {
    border-right-style: none;
}

.columnTitle .date {
    color: #212121;
    text-align: right;
    font-size: 12px;
    padding-right: 5px;
    padding-top: 5px;
}

.columnTitle.box.notThisMonth .date {
    color: #a6a6a6;
}

.columnTitle .contents {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    bottom: 0;
    overflow: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 2px 0;
    list-style-position: inside;
    color: orange;
}

.columnTitle .contents li {
    background-color: rgba(255, 255, 255, 0);
    padding-left: 8px;
    padding-right: 8px;
}

ul.contents li.selected {
    background-color: #6699ff;
}

li.highlighted {
    background-color: #ffa !important;
}

#activationChart {
    margin-top: 40px;
}